numpy
matplotlib
rasterio
geopandas
rioxarray
xarray
pystac-client
stackstac
shapely
jupyter
notebook








# Wrok flow

# conda create -n weed-detect python=3.11 -y
# conda activate weed-detect
# pip install -r requirements.txt